/Busca e ordenação/Busca Binaria/BuscaBinaria/nbproject/private/
/Busca e ordenação/Busca Binaria/BuscaBinaria/build/
/Busca e ordenação/Insertion Sort/InsertionSort/nbproject/private/
/Busca e ordenação/Insertion Sort/InsertionSort/build/
/Busca e ordenação/Selection Sort/SelectionSort/nbproject/private/
/Busca e ordenação/Selection Sort/SelectionSort/build/
/Busca e ordenação/Quick Sort/QuickSort/nbproject/private/
/Busca e ordenação/Quick Sort/QuickSort/build/
